---
import BaseLayout from "../layouts/BaseLayout.astro";
import ArchivePostList from "../layouts/ArchivePostList.astro";
---

<BaseLayout primaryTitle="404 Not Found">
  <section class="archive">
    <div class="section-content section-tag">
      <div class="archive-tag">
        <h2 class="tag-header">404 Not Found</h2>
        <div class="tag-post-list">来到了一片荒原，这里什么都没有。</div>
      </div>
    </div>
  </section>
</BaseLayout>
