<nz-layout class="layout">
  <nz-header class="m-header">
    <div class="logo"></div>
    <div nz-row>
      <nz-col nzSpan="12" nzOffset="6">
        <ul nz-menu [nzTheme]="'dark'" [nzMode]="'horizontal'" class="m-menu">
          <li nz-menu-item routerLink="/">Home</li>
          <li nz-menu-item routerLink="/about">About</li>
        </ul>
      </nz-col>
    </div>
  </nz-header>

  <nz-content class="m-content">
    <div nz-row nzType="flex" nzJustify="center">
      <div nz-col nzXs="24" nzSm="20" nzMd="16" nzLg="12" nzXl="12">
        <router-outlet></router-outlet>
      </div>
    </div>
  </nz-content>

</nz-layout>
