.blog-content a img {
  width: 100%;
}

h1, h2 {
  padding-bottom: 10px;
  border: 0;
  border-bottom: 1px solid #eee;
}

h1, h2, h3, h4, h5 {
  padding-left: 0px;
}

.m-comment {
  margin: 10px 0;
}

.m-comment-body {
  font-size: 1.2em;
  white-space: pre-wrap;
  word-break: break-all;
}
